{% extends "admin/base.html" %}
{% load static %}

{% block title %}Geo Digital Surveyors Admin{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/custom/admin.css' %}">
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">Geo Digital Surveyors</a>
  </h1>
{% endblock %}
{% extends "admin/base.html" %}
{% load static %}

{% block title %}Geo Digital Surveyors Admin{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/custom/admin.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
{% endblock %}

{% block branding %}
  <div class="admin-branding d-flex align-items-center">
    <img src="{% static 'img/logo.png' %}" alt="Geo Digital Surveyors Logo" class="admin-logo me-3" style="max-height: 40px;">
    <h1 id="site-name">
      <a href="{% url 'admin:index' %}" class="text-decoration-none text-white">Geo Digital Surveyors</a>
    </h1>
  </div>
{% endblock %}